@font-face {
  font-family: high-lulani;
  src: url('highlulani.ttf');
}

ipa {
  font-family: 'lucida sans unicode', 'segoe ui', monospace, sans-serif;
}

small-caps {
  font-variant: small-caps;
}

overline {
  text-decoration: overline;
}

high-lulani, vulgar-lulani {
  font-family: lulani, high-lulani;
  font-size: larger;
}

high-lulani:hover, vulgar-lulani:hover {
  font-size: xx-large;
  font-weight: normal;
  padding: 0em 0.5em;
}

high-lulani::before, vulgar-lulani::before {
  content: "\202e";
}

high-lulani::after, vulgar-lulani::after {
  content: "\202c";
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.content {
  text-align: justify;
  width: 20em;
  padding: 1em 10%;
  flex-grow: 1;
}

.content p {
  line-height: 1.5;
  text-indent: 1em;
}

.content p.example {
  margin: 0;
  margin-top: 1em;
  padding-left: 10%;
}

.content p.example_no_lines {
  margin: 0;
  padding-left: 10%;
}

.content table {
  line-height: 1.5;
  margin: auto;
  white-space: nowrap;
}

.content tr {
  font-family: sans-serif;
  text-align: center;
}

.content th {
  padding-left: 5px;
  padding-right: 5px;
}

.content th:first-child {
  text-align: right;
}

.content td {
  padding: 0.25em 0.5em;
}

.content ul {
  padding-left: 10%;
}

.content ol {
  padding-left: 15%;
}

.content ol li {
  padding-bottom: 0.5em;
}

.content form {
  padding-left: 10%;
  text-indent: 0;
  line-height: 1;
}

.content div.mobile-table {
  display: none;
}

.content div.wordlist {
  display: inline-block;
  border-right: 1px solid green;
  padding-right: 2em;
  margin-left: 8%;
  margin-left: calc(10% - 1em);
  margin-top: 1em;
  margin-bottom: 1em;
}

.content div.wordlist p.example {
  margin-top: 0;
}

.content div.folding p:last-child {
  padding-left: 6%;
}

.content div.folding p:last-child::before {
  content: '\2192 ';
  margin-right: 1em;
}

.content div.folding:hover p:last-child::before {
  content: '\2191  ';
}

.content div.folding p:not(:first-child):not(:last-child) {
  display: none;
}

.content div.folding:hover p:not(:first-child):not(:last-child) {
  display: block;
}

.nav-pane {
  margin: 2em 1% 10%;
  padding: 1% 2em 10%;
  white-space: nowrap;
  text-align: left;
}

.nav-pane a {
  color: black;
  text-decoration: none;
}

.nav-pane ul {
  list-style: none;
  padding: 0;
}

.nav-pane li {
  padding-bottom: 0.5em;
}

.nav-pane li.normal {
  font-weight: bold;
  text-decoration: underline;
}

.nav-pane li.link {
  font-family: serif;
  text-align: center;
}

.nav-pane li.up-arrow {
  margin-top: 1em;
  margin-bottom: 1em;
}

.nav-pane li.search {
  text-align: center;
  margin: 1em 0;
  margin-left: -1em;
}

.nav-pane form#search {
  display: none;
}

.nav-footer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 0;
}

.nav-footer a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.copyright {
  font-size: smaller;
  font-family: serif;
  text-align: right;
}

.no-breaks {
  white-space: nowrap;
}

.toc a {
  color: black;
  text-decoration: none;
  line-height: 1.5em;
}

.toc ul {
  list-style: none;
  padding-left: 1em;
  line-height: 2em;
}

.results {
  text-indent: -2em;
  line-height: 1.5;
}

.results a {
  color: black;
}

.results ol {
  list-style-position: inside;
}

.results li {
  padding-top: 2em;
}

.tooltip-text {
  display: none;
}

.tooltip-text::before {
  content: " ("
}

.tooltip-text::after {
  content: ")"
}

.tooltip:hover .tooltip-text {
  display: inline;
}

.tooltip .tooltip-text:hover {
  display: inline;
}

@media screen and (max-width: 800px) {
  .content {
    order: 1;
    margin: 0;
    padding: 5%;
  }
  .content div.glossary {
    -webkit-columns: 1;
    /* Chrome, Safari, Opera */
    -moz-columns: 1;
    /* Firefox */
    columns: 1;
  }
  .content table {
    display: none;
  }
  .content div.mobile-table {
    display: inline;
  }

  .content div.mobile-table div.small-table table {
    display: inline;
    margin-left: 10%;
  }

  .content div.mobile-table p {
    margin-bottom: 0;
  }
  .content div.mobile-table p.example_no_lines {
    margin-bottom: 0;
  }
  .nav-footer {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-pane {
    position: static;
    width: 100%;
    padding: 0 20%;
    order: 2;
    overflow: auto;
  }
}
