div.content {
	width: 80%;
	margin-left: 10%;
	background-color: lightgoldenrodyellow;
	padding-bottom: 2em;
}

h1 a {
	font-size: xx-large;
	margin-left: 12%;
	text-decoration: underline;
}

h2 {
	font-size: medium;
	line-height: 0.5;
	margin-left: 6%;
}

div.welcome {
	font-size: 45;
	font-family: serif;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
	font-weight: bold;
	color: blue;
}

div.return {
	padding-top: 2em;
	font-size: large;
}

a {
	line-height: 1;
	color: green;
	margin-left: 10%;
	text-decoration: none;
	font-weight: normal;
}

body {
	background-color: lightslategray;
}