h1, h2, h3, h4, h5, h6, p {
	font-family: calibri;
	padding-left: 50px;
	margin: 10px;
}

@font-face {
     font-family: lulani;
     src: url('Lulani.ttf'); 
}

h1 {
	font-size: 20;
	font-weight: normal;
}

h2 {
	font-family: arial;
	font-size: 10;
}

h3 {
	font-family: lulani;
	font-size: 20;
	font-weight: normal;
	padding-left: 75px;
}

h4 {
	font-family: lucida sans unicode;
	font-size: 12;
	font-weight: normal;
	padding-left: 75px;
}

h5 {
	font-style: italic;
	font-weight: normal;
}

h6 {
	text-decoration: underline;
	font-size: 15;
}

p {
	padding-left: 75px;
	margin: 0;
}

p.back {
	padding-left: 100px;
	margin-top: 20pt;
}

small-caps {
	font-variant: small-caps;
	font-weight: none;
}

body {
	background-color: lightslategray;
}

a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

weak {
	font-weight: bold;
}

em {
	font-weight: none;
}

div.wordlist {
	float: left;
	width: 20%;
	max-width: 160px;
	margin: 0;
	padding-left: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: mediumslateblue;
	color: gold;
	border-right-style: solid;
	border-width: 10px;
	border-color: lightslategray;
}

div.content {
	width: 80%;
	padding-top: 20px;
	padding-bottom: 50px;
	margin-left: 220px;
	background-color: lightgoldenrodyellow;
	
}

div.wordlist a {
	color: gold;
	font-weight: none;
}

td a {
	font-weight: normal;
}

table {
	padding-left: 75px;
}

td {
	text-align: center;
	width: 5em;
	padding: 0;
}

th {
	padding: 0;
}

th:first-child {
	text-align: right;
}