h1, h2, h3, h4, h5, h6, p {
	font-family: sans-serif;
	padding-left: 50px;
	margin: 10px;
}

@font-face {
    font-family: tinellb;
    src: url('Lulani.ttf'); 
}

h1 {
	font-size: 20px;
	font-weight: normal;
}

h2 {
	font-family: arial;
	font-size: 15px;
}

h3 {
	font-family: tinellb, lulani;
	font-size: 20px;
	font-weight: normal;
	padding-left: 75px;
}

h4 {
	font-family: lucida sans unicode;
	font-size: 12px;
	font-weight: normal;
	padding-left: 75px;
}

h5 {
	font-style: italic;
	font-weight: normal;
}

h6 {
	text-decoration: underline;
	font-size: 15px;
	line-height: 2;
}

a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

p {
	padding-left: 10%;
	padding-right: 10%;
	margin: 0;
}

p.example {
	padding-top: 10pt;
}

div.centre {
	text-align: center;
}

div.nav-header {
	text-align: center;
}

div.right a {
	text-align: right;
	margin-right: 1em;
}

div.left a {
	text-align: left;
}

div.justify {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left: 15%;
	letter-spacing: 2em;
	font-weight: bold;
	font-size: large;
}

div.justify a {
	letter-spacing: 0;
}

span.normal {
	letter-spacing: 0;
	text-decoration: underline;
	color: powderblue;
}

div.nav-header span.normal a {
	color: powderblue;
}

small-caps {
	font-variant: small-caps;
	font-weight: none;
}

overline {
	text-decoration: overline;
}

body {
	background-color: lightslategray;
}

em {
	font-weight: none;
}

div.nav-header {
	width: 10%;
	float: left;
	padding-top: 10pt;
	padding-bottom: 10pt;
	color: white;
}

div.nav-header a {
	color: white;
	display: block;
}

div.nav-footer {
	padding-top: 10pt;
	padding-bottom: 10pt;
	color: white;
}

div.nav-footer a {
	color: white;
}

div.content {
	width: 80%;
	padding-top: 20px;
	padding-bottom: 0px;
	margin-left: 10%;
	background-color: lightgoldenrodyellow;	
}

div.content a {
	text-decoration: underline;
}

div.toc a {
	text-align: left;
}

td a {
	font-weight: normal;
}

table {
	padding-left: 75px;
}

td {
	text-align: center;
	width: 5em;
	padding: 0;
	font-family: sans-serif;
}

th {
	padding: 0;
	font-family: sans-serif;
}

th:first-child {
	text-align: right;
}

tinellbian {
	direction: rtl;
	font-family: tinellb, lulani;
	font-size: larger;
}

tinellbian:before {
	content: "\202e"
}

tinellbian:after {
	content: "\202c"
}