h1, h2, h3, h4, h5, h6, p {
	font-family: sans-serif;
}

@font-face {
    font-family: high-lulani;
    src: url('Lulani.ttf'); 
}

h1 {
	font-weight: normal;
	padding-left: 10%
}

h2 {
	font-family: arial;
	padding-left: 10%;
}

h3 {
	font-weight: normal;
	padding-left: 15%;
	font-size: x-large;
}

h4 {
	font-family: lucida sans unicode;
	font-weight: normal;
	padding-left: 15%;
}

h5 {
	font-size: large;
	font-style: italic;
	font-weight: normal;
	text-decoration: underline;
	padding-left: 10%;
}

h6 {
	text-decoration: underline;
	line-height: 4;
	padding-left: 12%;
	font-size: medium;
	font-weight: normal;
	margin: 0;
}

a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

p {
	padding-left: 15%;
	padding-right: 10%;
	margin: 0;
}

p.example {
	padding-top: 1em;
}

p.search-box {
	padding-top: 1em;
	padding-left: 10%;
}

div.centre {
	text-align: center;
}

div.nav-header {
	text-align: center;
}

div.right a {
	text-align: right;
	margin-right: 1em;
}

div.left a {
	text-align: left;
}

div.justify {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left: 15%;
	letter-spacing: 2em;
	font-weight: bold;
	font-size: large;
}

div.justify a {
	letter-spacing: 0;
}

span.normal {
	letter-spacing: 0;
	text-decoration: underline;
	color: powderblue;
}

div.nav-header span.normal a {
	color: powderblue;
}

small-caps {
	font-variant: small-caps;
	font-weight: none;
	font-style: normal;
}

overline {
	text-decoration: overline;
}

body {
	background-color: lightslategray;
}

em {
	font-weight: none;
}

div.nav-header {
	width: 10%;
	float: left;
	padding-top: 10pt;
	padding-bottom: 10pt;
	color: white;
}

div.nav-header a {
	color: white;
	display: block;
}

div.nav-footer {
	padding-top: 10pt;
	padding-bottom: 10pt;
	color: white;
}

div.nav-footer a {
	color: white;
}

div.content {
	width: 80%;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-left: 10%;
	background-color: lightgoldenrodyellow;	
}

div.content a {
	text-decoration: underline;
}

div.toc a {
	text-align: left;
}

td a {
	font-weight: normal;
}

table {
	padding-left: 10%;
}

td {
	text-align: center;
	width: 5em;
	padding: 0;
	font-family: sans-serif;
}

th {
	padding: 0;
	font-family: sans-serif;
}

th:first-child {
	text-align: right;
}

high-lulani {
	direction: rtl;
	font-family: high-lulani, lulani;
}

high-lulani:before {
	content: "\202e"
}

high-lulani:after {
	content: "\202c"
}

div.jump {
	margin-left: 50%;
}

div.toc {
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}

span.hidden {
	display: none;
}

@media screen and (max-width: 900px) {
	body {
		background-color: lightgoldenrodyellow;
	}
	
	div.nav-header {
		width: 100%;
		letter-spacing: 1em;
		float: none;
		background-color: lightslategray;
	}
	
	div.nav-header a {
		color: white;
		display: inline;
		letter-spacing: normal;
	}
	
	div.content {
		float: none;
		width: 100%;
		margin-left: 0;
	}
	
	div.toc {
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
		-moz-column-count: 3; /* Firefox */
		column-count: 3;
	}
}

@media screen and (max-width: 700px) {
	div.toc {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
	}
	
	span.no-space {
		display: block;
	}
}

@media screen and (max-width: 500px) {
	div.toc {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
	}
}