body {
	background-color: cornsilk;
}

h1, h2, h3, h4, h5, h6 {
	font-family: serif;
	padding-top: 10pt;
}

div.nav-header {
	float: left;
	background-color: cadetblue;
	width: 25%;
	min-width: 300px;
	font-family: serif;
	font-size: large;
	color: cornsilk;
	font-weight: bold;
}

div.nav-header a {
	text-decoration: none;
	color: cornsilk;
	font-weight: normal;
}

div.nav-header span.normal {
	text-decoration: underline;
	display: list-item;
}

div.nav-header li.link {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 5%;
	font-family: sans-serif;
	font-weight: bold;
	font-size: large;
	list-style: disc;
}

ul {
	list-style: none;
}

ul span.normal {
	list-style: square;
}

ul.level-1 {
	margin-left: 1%;
}

ul.level-2 {
	margin-left: 1%;
}

ul.level-3 {
	margin-left: 1%;
}

div.nav-footer {
	font-family: sans-serif;
}

div.nav-footer a {
	color: black;
	font-weight: bold;
}

div.content {
	margin-left: 30%;
	position: relative;
	left: 5%;
	margin-right: 10%;
	line-height: 2;
	text-indent: 2em;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

th {
	text-align: center;
}

th:first-child {
	text-align: right;
}

td {
	width: 6em;
	font-family: sans-serif;
}

ipa {
	font-family: lucida sans unicode;
}

overline {
	text-decoration: overline;
}

small-caps {
	font-variant: small-caps;
	font-weight: none;
	font-style: normal;
}

p {
	font-family: sans-serif;
}

p.example {
	position: relative;
	left: 20%;
	width: 100%;
	line-height: 2;
	text-indent: -3em;
	margin-top: 1em;
	margin-bottom: 0em;
}

p.example_no_lines {
	position: relative;
	left: 20%;
	width: 100%;
	line-height: 2;
	text-indent: -3em;
	margin-top: 0em;
	margin-bottom: 0em;
}

div.left {
	float: left;
}

div.right {
	text-align: right;
	margin-right: 10%;
}

div.centre {
	text-align: center;
}

div.glossary {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	text-indent: 0em;
	margin: auto;
	padding-left: 10%;
	display: block;
}

div.glossary p {
	margin: 0;
}

div.glossary-2 {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	text-indent: 0em;
	margin: auto;
	padding-left: 10%;
	display: block;
}

div.glossary-2 p {
	margin: 0;
	line-height: 1.5;
}

@media screen and (max-width: 900px) {
    div.glossary {
        	-webkit-column-count: 2; /* Chrome, Safari, Opera */
			-moz-column-count: 2; /* Firefox */
			column-count: 2;
    }
	
	div.glossary-2 {
		    -webkit-column-count: 1; /* Chrome, Safari, Opera */
			-moz-column-count: 1; /* Firefox */
			column-count: 1;
	}
}

@media screen and (max-width: 740px) {
    div.glossary {
        	-webkit-column-count: 1; /* Chrome, Safari, Opera */
			-moz-column-count: 1; /* Firefox */
			column-count: 1;
    }
	
	div.nav-header {
		float: none;
		padding-left: 0;
	}
	
	ul.level-1 {
		padding-left: 5%;
	}
	
	div.content {
		margin-left: 0;
	}
}