body {
	background-color: cornsilk;
}

p {
	font-size: large;
	text-indent: 3em;
	line-height: 2;
	margin-left: 9%;
	margin-right: 10%;
}

h1 {
	margin-left: 20%;
	font-family: arial, sans-serif;
	color: seagreen;
	letter-spacing: 2px;
	text-decoration: underline;
}

a {
	color: indigo;
	text-decoration: none;
}

ul {
	list-style: none;
}

ul.level-1 {
	font-size: x-large;
	line-height: 2.5;
	margin-left: 20%;
}

ul.level-2 {
	font-size: large;
	line-height: 2;
}

ul.level-3 {
	font-size: medium;
	line-height: 1.5;
}

p.return {
	margin-left: 5em;
	font-size: large;
	margin-bottom: 0;
}

p.forward {
	margin-left: 12em;
	margin-top: 0;
	margin-bottom: 0;
	font-size: large;
}

@media screen and (max-width: 900px) {
	h1 {
		text-align: center;
		margin-left: 0;
	}
}

@media screen and (max-width: 600px) {
	ul.level-1 {
	margin-left: 10%;
	}
}