body {
	background-color: cornsilk
}

a {
	color: indigo;
	text-decoration: none;
}

ul {
	list-style: none;
}

ul.level-1 {
	font-size: x-large;
	line-height: 2.5;
}

ul.level-2 {
	font-size: large;
	line-height: 2;
}

ul.level-3 {
	font-size: medium;
	line-height: 1.5;
}

p.return {
	margin-left: 5em;
	font-size: large;
	margin-bottom: 0;
}

p.forward {
	margin-left: 12em;
	margin-top: 0;
	margin-bottom: 0;
	font-size: large;
}