body {
	background-color: cornsilk;
}

h1 {
	margin-left: 10%;
	margin-top: 2em;
	color: purple;
	font-family: sans-serif;
}

p {
	margin-left: 10%;
	margin-right: 10%;
}

small-caps {
	font-variant: small-caps
}

input.term {
	margin-left: 10%;
}

button {
	margin-left: 10%;
}

div.results {
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	line-height: 1.5;
}

a {
	color: black;
}