body {
	background-color: cornsilk;
	text-indent: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: serif;
	text-align: center;
}

h2 {
	text-decoration: underline;
}

@font-face {
    font-family: tinellb;
    src: url('Lulani.ttf'); 
}

div.nav-header {
	background-color: purple;
	width: 13em;
	float: left;
	font-family: sans-serif;
	text-align: left;
}

div.nav-header a {
	color: cornsilk;
	font-weight: bold;
	text-decoration: none;
	display: block;
	line-height: 2;
	margin-left: -1em;
}

div.nav-header ul {
	color: cornsilk;
	list-style: disc;
}

div.nav-header ul ul {
	list-style: none;
}

div.nav-header li.up-arrow {
	padding-bottom: 1em;
}

div.nav-header li.link {
	list-style: square;
}

div.nav-footer {
	text-align: right;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10%;
	padding-right: 10%;
	margin: 0;
	font-family: sans-serif;
}

div.nav-footer a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

div.content {
	margin-left: 17em;
	margin-right: 5em;
	line-height: 2;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 1em;
}

td {
	float: none;
}


table table {
	line-height: 2;
	float: left;
	margin: 0;
}

table table td {
	text-align: left;
	font-weight: normal;
	padding-left: 0em;
	padding-right: 0em;
}

table table td:first-child {
	padding-left: 2em;
}

th.row {
	text-align: right;
}

ipa {
	font-family: lucida sans unicode;
}

overline {
	text-decoration: overline;
}

small-caps {
	font-variant: small-caps;
	font-weight: none;
	font-style: normal;
}

p {
	font-family: sans-serif;
	text-align: justify;
}

div.centre {
	text-align: center;
}

div.toc a {
	font-weight: bold;
	color: black;
	font-size: 125%;
	text-decoration: none;
	margin-left: 15%;
	line-height: 1;
}

span.high-lulani {
	font-family: lulani;	
}

high-lulani:before {
	content: "\202e";
}

high-lulani:after {
	content: "\202c";
}

high-lulani {
	font-family: tinellb, lulani;
}

p high-lulani {
	display: block;
	direction: rtl;
	text-indent: 1rem;
	text-align: justify;
	font-size: x-large;
}

p.center {
	text-align: center;
}

p span.centre {
	display: block;
	text-align: center;
}

p span.centre high-lulani {
	display: inline;
}

div.toc p a high-lulani {
	margin-left: 35%;
	direction: ltr;
}

@media screen and (max-width: 900px) {
	div.nav-header {
		float: none;
	}
	
	div.content {
		margin-left: 4%;
		margin-right: 5%;
	}
	
	div.toc p {
		text-align: center;
	}
	
	div.toc a {
		margin-left: 0;
	}
	
	table table td {
		padding-left: 0;
		padding-right: 0;
	}
}