body {
	background-color: cornsilk;
	text-indent: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: serif;
	padding-top: 10pt;
	text-align: center;
}

@font-face {
    font-family: lulani;
    src: url('Lulani.ttf'); 
}

div.nav-header {
	background-color: purple;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 10%;
	padding-right: 10%;
	font-family: sans-serif;
	text-align: center;
	letter-spacing: 7em;
}

div.nav-header a {
	font-size: 150%;
	color: cornsilk;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 0;
	line-height: 2;
}
div.nav-footer {
	text-align: center;
	float: top center;
	background-color: purple;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10%;
	padding-right: 10%;
	margin: 0;
	font-family: sans-serif;
}

div.nav-footer a {
	color: cornsilk;
	font-weight: bold;
	text-decoration: none;
}

div.content {
	margin-left: 5em;
	margin-right: 5em;
	line-height: 2;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 1em;
}

td {
	float: none;
}


table table {
	line-height: 2;
	float: left;
}

table table td {
	text-align: left;
	font-weight: normal;
	padding-left: 1em;
	padding-right: 1em;
}

th.row {
	text-align: right;
}

ipa {
	font-family: lucida sans unicode;
}

overline {
	text-decoration: overline;
}

small-caps {
	font-variant: small-caps;
	font-weight: none;
	font-style: normal;
}

p {
	font-family: sans-serif;
}

p.example {
	padding-left: 10em;
	padding-top: 10pt;
	width: 100%;
	line-height: 1;
}

p.example_no_lines {
	padding-left: 10em;
	padding-top: 1pt;
	width: 100%;
	line-height: 1;
}

div.left {
	float: left;
}

div.right {
	float: right;
}

div.centre {
	text-align: center;
}

div.toc a {
	font-weight: bold;
	color: black;
	font-size: 125%;
	text-decoration: none;
	line-height: 1;
	margin-left: 15em;
}

span.tinellbian {
	font-family: lulani;	
}

span.right {
	display: block;
	text-align: right;
}

span.tinellbian:before {
	content: "\202e";
}

span.tinellbian:after {
	content: "\202c";
}

span.centre {
	display: block;
	text-align: center;
}

