@font-face {
    font-family: tinellb;
    src: url('http://www.tinellb.com/Lulani.ttf');
}

ipa {
	font-family: lucida sans unicode, segoe ui, monospace;
}

overline {
	text-decoration: overline;
}

high-lulani, vulgar-lulani {
	font-family: tinellb, lulani;
	font-size: x-large;
}

high-lulani::before, vulgar-lulani::before {
	content: "\202e";
}

high-lulani::after, vulgar-lulani::after {
	content: "\202c";
}

body {
	font-family: sans-serif;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.content {
	width: 20em;
	flex-grow: 1;
	padding: 1em 10%;
	margin-left: 13em;
	text-align: justify;
}

.content p {
	line-height: 1.5;
	padding-left: 5%;
  text-align: justify;
}

.content p.desc {
	margin-left: 1em;
	font-size: large;
}

.content p.introduction {
	margin-left: 1em;
	font-family: sans-serif;
	font-size: x-large;
	text-indent: 1em;
}

.content p.footnote {
	font-size: small;
}

.content span.no-break {
  white-space: nowrap;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
	font-family: serif;
}

.content h2 {
	font-family: serif;
	font-weight: normal;
	text-decoration: overline;
  padding-top: 1em;
	margin-left: 10%;
}

.content h2 a {
  color: black;
  font-family: serif;
	font-weight: normal;
	text-decoration: overline;
}

.content h3 {
	margin-left: 15%;
  font-family: sans-serif;
  font-variant: small-caps;
}

.content h4 {
	margin-left: 20%;
}

.content table {
	line-height: 1.5;
	margin: auto;
	white-space: nowrap;
}

.content tr {
	font-family: sans-serif;
	text-align: center;
}

.content tr:first-child {
	font-weight: bold;
}

.content td {
	padding: 0.25em 1em;
}

.content td:first-child {
	text-align: right;
	font-weight: bold;
}

.content ul {
	padding-left: 10%;
}

.content ul.main {
	list-style: none;
}

.content ul.no-dots {
  list-style: none;
  padding-left: 5%;
}

.content ul.main li a {
	color: black;
	font-size: large;
	font-weight: bold;
}

.content ol {
	padding-left: 10%;
}

.content ol li p {
  padding-left: 1%;
  margin-top: 0;
}

.content form {
	padding-left: 10%;
	text-indent: 0;
	line-height: 1;
}

.nav-header {
	position: fixed;
	height: 75%;
	margin: 1% 1% 10%;
	padding: 1% 2em 10%;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
}

.nav-header:hover {
	overflow: auto;
}

.nav-header a {
	color: black;
	text-decoration: none;
}

.nav-header ul {
	list-style: none;
	padding: 0;
}

.nav-header ul.level-1 {
	padding: 1em;
}

.nav-header ul.level-2 {
	padding-left: 1em;
}

.nav-header ul.level-3 {
	padding-left: 1em;
}

.nav-header li {
	padding-bottom: 0.5em;
}

.nav-header li.normal {
	font-weight: bold;
	text-decoration: underline;
}

.nav-header li.up-arrow {
	margin-top: 1em;
	margin-bottom: 1em;
}

.nav-footer {
	text-align: right;
	padding: 0 10%;
	margin: 0;
}

.nav-footer a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.toc a {
	font-weight: bold;
	color: black;
	font-size: 125%;
	text-decoration: none;
	line-height: 1;
}

.results {
	text-indent: -2em;
	line-height: 1.5;
}

.results a {
	color: black;
}

.results ol {
	list-style-position: inside;
}

.results li {
	padding-top: 2em;
}

@media screen and (max-width: 800px) {

	.content {
    order: 1;
		margin: 0;
		width: 80%;
    padding: 1em 5%;
  }

  .content p {
    padding-left: 0;
  }
  .content div.glossary {
      -webkit-columns: 1; /* Chrome, Safari, Opera */
      -moz-columns: 1; /* Firefox */
      columns: 1;
  }

  .nav-header {
		position: static;
		width: 100%;
		padding: 0 20%;
    order: 2;
		overflow: auto;
  }
}
