.content h1 {
    font-size: 36pt;
}

.content h2 {
	font-family: serif;
	font-weight: normal;
	text-decoration: overline;
    padding-top: 1em;
    margin-top: 0;
}

.content h2 a {
    color: black;
    font-family: serif;
	font-weight: normal;
	text-decoration: overline;
}

.content p, .content li {
    font-family: sans-serif;
    line-height: 1.5em;
    text-indent: 1em;
}

.content .eplist ol li .hidden-airdate {
    display: none;
}

.content .eplist ol li:hover .hidden-airdate {
    display: inline;
}

.nav-pane ul {
    list-style: none;
    line-height: 1.6;
}

.nav-pane ul li {
    font-size: larger;
}

.nav-pane ul li.normal {
    font-weight: bold;
}

.nav-pane ul li a {
    color: black;
}

.nav-pane form {
    margin: 1em;
    display: none;
}

.arrow-left a {
    position: fixed;
    bottom: 5%;
    left: 10%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #95A;
}

.arrow-right a {
    position: fixed;
    bottom: 5%;
    right: 10%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #95A;
}

.sorts {
    position: fixed;
    bottom: 15%;
    left: 10%;
}

.sorts button {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
    margin-top: 5px;
}

button#airdate {
    background-color: #3C0;
}

button#default {
    background-color: #33F;
}

button#random {
    background-color: red;
}

button#epname {
    background-color: #FD3;
}

@media screen and (max-width: 800px) {
    .content {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }


    .sorts p {
        display: flex;
        position: fixed;
        bottom: 5%;
        width: 80%;
        justify-content: space-evenly;
        border: 1px solid green;
    }

    .sorts button {
        border-radius: 50%;
        height: 20px;
        width: 20px;
        display: initial;
    }
}
