.content h1 {
    font-size: 36pt;
}

.content h2 {
    font-family: serif;
    font-weight: normal;
    text-decoration: overline;
    padding-top: 1em;
    margin-top: 0;
}

.content h2 a {
    color: black;
    font-family: serif;
    font-weight: normal;
    text-decoration: overline;
}

.content p,
.content li {
    font-family: sans-serif;
    line-height: 1.5em;
    text-indent: 1em;
}

.content .eplist ol li .hidden-info {
    display: none;
}

.content .eplist ol li:hover .hidden-info {
    display: inline;
}

.nav-pane ul {
    list-style: none;
    line-height: 1.6;
}

.nav-pane ul li {
    font-size: larger;
}

.nav-pane ul li.normal {
    font-weight: bold;
}

.nav-pane ul li a {
    color: black;
}

.nav-pane form {
    margin: 1em;
    display: none;
}

.arrow-left a {
    position: fixed;
    bottom: 5%;
    left: 10%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #95A;
}

.arrow-right a {
    position: fixed;
    bottom: 5%;
    right: 10%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #95A;
}

.sorts {
    position: fixed;
    bottom: 15%;
    left: 5%;
}

.sorts button {
    background-color: white;
    height: 20px;
    width: 10em;
    display: block;
    margin-top: 5px;
    font-size: 15px;
    padding: 0;
    text-align: center;
}

.sorts button.selected {
    background-color: black;
    color: white;
}

@media screen and (max-width: 800px) {
    .content {
        width: 100%;
        margin-left: 0.5em;
        margin-right: 0;
    }
    .sorts {
        display: flex;
        flex-direction: row-reverse;
        position: fixed;
        bottom: 5%;
        width: 90%;
        justify-content: space-evenly;
    }
    .sorts p {
        text-indent: 0;
    }
    .sorts p:last-child {
        order: -1;
    }
    .sorts button.selected {
        background-color: black !important;
        color: white !important;
    }
    button#airdate {
        background-color: #3C0;
    }
    button#default {
        background-color: #33F;
        color: white;
    }
    button#random {
        background-color: red;
        color: white;
    }
    button#epname {
        background-color: #FD3;
    }
    .sorts button {
        border-radius: 50%;
        height: 20px;
        width: 20px;
        display: initial;
    }
}