.content h1 {
    font-size: 36pt;
}

.content h2 {
	font-family: serif;
	font-weight: normal;
	text-decoration: overline;
    padding-top: 1em;
    margin-top: 0;
}

.content h2 a {
    color: black;
    font-family: serif;
	font-weight: normal;
	text-decoration: overline;
}

.content p, .content li {
    font-family: sans-serif;
    line-height: 1.5em;
    text-indent: 1em;
}

.content .eplist ol li .hidden-airdate {
    display: none;
}

.content .eplist ol li:hover .hidden-airdate {
    display: inline;
}

.nav-pane ul {
    list-style: none;
    line-height: 1.6;
}

.nav-pane ul li {
    font-size: larger;
}

.nav-pane ul li.normal {
    font-weight: bold;
}

.nav-pane ul li a {
    color: black;
}

.nav-pane form {
    margin: 1em;
    display: none;
}

.arrow-left a {
    position: fixed;
    bottom: 5%;
    left: 10%;
    font-size: 20px;
    text-decoration: overline;
}

.arrow-right a {
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 20px;
}
